 <div class="container mt-5 my-auto card shadow card-finder">
    <div class="mx-auto my-3 mt-3">
      <h1>{{title}}</h1>
      <p>Welcome to Explore Hoboken!</p>
      <p>
        For those that have been long time residents, visitors, and even prospective students, Explore Hoboken will provide you 
        with the ability to adventure through this little but busy city revealing all that there is to do around town!
      </p>
      <p>
        Whether you are craving a bite to eat, feeling spontaneous looking for an adventurous excursion to embark on, or site seeing with
        the best view of the New York Skyline right by your side, Explore Hoboken facilitates your ability to find these activities and locations from the 
        safety of your home in the blink of an eye.
      </p>
      <form action="/searchactivities" method="POST" id="form1" class = "center">
        <label for="searchTerm"> Search: </label>
          <input
            type="text" 
            name="relevantSearchTerm"
            id="searchTerm"
            placeholder="Search Term">
        
        <br>

        <label for="category">Select a category to search in</label>
          <select name="category" id="category">
            <option value="all">All</option>
            <option value="food">Food</option>
            <option value="entertainment">Entertainment</option>
            <option value="active">Active</option>
            <option value="nightlife">Night Life</option>
          </select>

        <br>

        <button
          type="submit"
          form="form1"
          value="Submit"
          class="buttonstyle">
          Search</button>
      </form>
    </div>
  </div>
</article>