<article>
  <h1>{{title}}</h1>
  <p>Welcome to Explore Hoboken!</p>
  <p>
    For those that have been long time residents, visitors, and even prospective students, Explore Hoboken will provide you 
    with the ability to adventure through this little but busy city revealing all that there is to do around town!
  </p>
  <p>
    Whether you are craving a bite to eat, feeling spontaneous looking for an adventurous excursion to embark on, or site seeing with
    the best view of the New York Skyline right by your side, Explore Hoboken facilitates your ability to find these activities and locations from the 
    safety of your home in the blink of an eye.
  </p>
  <form action="/searchshows" method="POST" id="form1" class = "center">
    <label for="showName">
      <input
        type="text" 
        name="showSearchTerm"
        id="showName"
        placeholder="Show to look up"
      />

    </label>
    <button
      type="submit"
      form="form1"
      value="Submit"
      class="buttonstyle"
    >Submit</button>
  </form>
</article>