 <article class="article_Home">
 <div class="container mt-5 my-auto card shadow card-finder">
    <div class="mx-auto my-3 mt-3">
      <h1 class="finder-header">{{title}}</h1>
      <p>Welcome to Explore Hoboken!</p>
      <p>
        For those that have been long time residents, visitors, and even prospective students, Explore Hoboken will provide you 
        with the ability to adventure through this little but busy city revealing all that there is to do around town!
      </p>
      <p>
        Whether you are craving a bite to eat, feeling spontaneous seeking adventure, or site seeing the New York Skyline,
        aesthetic piers, or the many parks, Explore Hoboken facilitates your ability to find these activities and locations from the 
        safety of your home and in the blink of an eye.
      </p>
      <p>
        Simply choose a category you want to explore and input a search term to narrow your results, or leave it blank
        to browse a multitude of recommended results!
      </p>
      <p class = "error"> {{error}} </p>
      <form action="/searchactivities" method="POST" id="form1" class = "form1 center-finder">
        <label for="category">Select a category to search in</label>
          <select name="category" id="category">
            <option value="all">All</option>
            <option value="food">Food</option>
            <option value="entertainment">Entertainment</option>
            <option value="active">Active</option>
            <option value="nightlife">Night Life</option>
          </select>

        <br>

        <div class="mt-2">
        <label for="searchTerm"> Search: </label>
          <input
            type="text" 
            name="relevantSearchTerm"
            id="searchTerm"
            placeholder="Search Term">
        </div>


        <div class="d-flex justify-content-center space_top">
          <button
          type="submit"
          form="form1"
          value="Submit"
          class="btn btn-outline-secondary">
          Search</button>
        </div>
        
      </form>
    </div>
  </div>
</article>