@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
.error {
  color: red
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

/* .dark-mode {
  background-color: rgb(29, 28, 28);
  color: white;
} */

#container {
  overflow-y: scroll;
  align-items: center;
  padding: 12px 18px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  background: #F1F1FA;
  /* width: 400px;
  height: 300px; */
  /* width: 2000px; */
  /* height: 75%; */
  /* height: 15vmax; */
  /* max-height: 100vh; */
  display: flex;
  width: 100%;
  height: auto;
  /* margin: 10px auto; */
  border-radius: 25px;
  overflow: hidden;
}

body {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* https://frontendresource.com/css-button-templates/ */
.buttonstyle {
  font-family: 'Chivo', sans-serif;
  position: fixed;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: auto;
  width: auto;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin: 5px;
}

/* .entry {
  display: flex;
  width: 75%;
  height: 70px;
  border-radius: 5px;
  border: 3px solid gray;
  align-items:center;
  justify-content:left;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: rgb(212, 212, 212);
}

.entry img {
  height: 60px;
  width: auto;
}

.entry span {
  padding-left: 10px;
}

.entry a {
  padding-left: 10px;
} */

.center-finder {
  font-family: 'Chivo', sans-serif;
  text-align: center;
  font-size: 20px;
  height: 100px;
}

.center-found {
  font-family: 'Chivo', sans-serif;
  text-align: center;
  font-size: 75px;
  height: 100%;
  animation: fadeIn 2s;
  font-weight: bold;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.card {
  font-family: 'Chivo', sans-serif;
  display: flex;
}

.card-custom {
  /* will-change: contents; */
  /* padding-bottom: 20%; */
  /* display: flex;
  display: -webkit-flex; */
  display: flex;
  /* flex-direction: column;
  flex: 1; */
  max-width: 30%;
  max-height: 375px;
  height: 500px;
  border-radius: 25px;
  justify-content: center;
  float: left;
  content-visibility: auto;
  /* contain-intrinsic-size: 700px; */
  /* height: 700%; */
  /* box-shadow: blanchedalmond; */
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

/* fade in: https://blog.hubspot.com/website/css-fade-in */
.card-finder {
  transition: 0.8s;
  display: flex;
  opacity: 92%;
  font-family: 'Chivo', sans-serif;
  text-align: center;
  border-radius: 25px;
  animation: fadeIn 2s;
  /* height: 20%; */
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  margin-bottom: 25px;
}

.form1 {
  margin-bottom: 25px;
}

article {

  margin-bottom: 15px;
}

.article_Home {
  margin-top: 17vh;
}
.card-title {
  text-align: center;
}

.card-body {
  text-align: center;
  margin-top: 25px;
}

a.learn-more-link {
  text-align: center;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:92%;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:92%;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:92%;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:92%;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:92%;}
}

.finder-header {
  font-size: xx-large;
  font-family: 'Chivo', sans-serif;

  font-size: 75px;
}

.backgroundImg {
  background: fixed;
  background-image: url('https://i.imgur.com/wcvV0iH.jpg'); 
  background-size: cover;
}

html {
  height : 100%;
  font-family: 'Chivo', sans-serif;
}
main{
  /* position: relative; */
  font-family: 'Chivo', sans-serif;
  top: 40px; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
  /* display: flex; */
}

.image-div {
  height: 240px;
}

p {
  font-family: 'Chivo', sans-serif;
  font-weight: 500;
}

.card-custom:hover{
  transform: scale(1.05);
  transition: 0.65s;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  z-index: 100;
}

.row {
  width: 100%;
}

.mt-12 {
  width: 100%;
}

.card-img-top {
  margin-top: 20px;
  border-radius: 25px;
  max-height: 100%;
}

#myBtn {
  display: none;
  position: fixed;
  font-family: 'Chivo', sans-serif;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 5px;
  border-radius: 105px;
}

#myBtn:hover {
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
  color: #F1F1FA;
}

.links {
  margin: 20px;
  border-radius: 25px;
  /* background-color: blanchedalmond; */
}

.return-link {
  /* height: 200px; */
  text-align: center;
  font-size: large;
}
.another-search-link {
  /* margin-top: 100%; */
  font-family: 'Chivo', sans-serif;
  font-size: large;
  text-decoration: none;
}

.learn-more-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.business {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 50px;
  height: 80vw;
}

.business-title {
  font-size: 100px;
}

.business-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%;s */
  max-height: 50vh;
  max-width: 100%;
  width: auto;
}

.business-details {
  font-size: 20px;
}

li {
  text-align: center;
}

.footer_space {
  margin-bottom: 25px;
}

.space_top {
  margin-top: 5px;
  margin-bottom: 5px;
}

.backBtn {
  background-color: #FCF6F5FF;
  border: 4px;
  color: black;
}

.navbar-brand::hover{
  transform: scale(1.05);
  transition: 0.65s;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  z-index: 100;
}

.navbar-brand{
  margin: 0px;
  text-align: center;
}

.card_btn {
  border-radius: 10px;
}

.topBtn {
  max-height: 50px;
  max-width: auto;
}