.error {
  color: red
}

ul {
  list-style-type: none;
}

.entry {
  display: flex;
  width: 75%;
  height: 70px;
  border-radius: 5px;
  border: 3px solid gray;
  align-items:center;
  justify-content:left;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: rgb(212, 212, 212);
}

.entry img {
  height: 60px;
  width: auto;
}

.entry span {
  padding-left: 10px;
}

.entry a {
  padding-left: 10px;
}

.card-custom {
  max-width: 31%;
}

.backgroundImg {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/990/312/842/manhattan-fog-wallpaper-preview.jpg'); 
  background-size: cover;
}

html {
  height : 100%;
}
main{
  position: absolute;
    top: 40px; /* Header Height */
    bottom: 20px; /* Footer Height */
    width: 100%;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}